{% extends "dashboard/dashboard_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">修改密码</h2>
    </div>
    <form method="POST">
        <table>
            <tbody>
                <tr>
                    <td style="width: 100px; padding: 3px;">
                        <p>
                            用户名：
                        </p>
                    </td>
                    <td style="width: 300px;padding: 3px;"> {{ current_user.username }} </td>             
                </tr>
                <tr>
                    <td style="width: 100px; padding: 3px;">
                        <p>
                            原密码：
                        </p>
                    </td>
                    <td style="width: 300px;padding: 3px;">
                        <div class="mdl-textfield mdl-js-textfield">
                            {{form1.old_password(class="mdl-textfield__input")}}
                        </div>
                    </td> 
                </tr>
                <tr>
                    <td style="width: 100px; padding: 3px;">
                        <p>
                            新密码：
                        </p>
                    </td>
                    <td style="width: 300px;padding: 3px;">
                        <div class="mdl-textfield mdl-js-textfield">
                            {{form1.password(class="mdl-textfield__input")}}
                        </div>                                        
                    </td> 
                </tr>
                <tr>
                    <td style="width: 120px; padding: 3px;">
                        <p>
                            确认密码：
                        </p>
                    </td>
                    <td style="width: 300px;padding: 3px;">
                        <div class="mdl-textfield mdl-js-textfield">
                            {{form1.password2(class="mdl-textfield__input")}}
                        </div>
                    </td> 
                </tr>
                
            </tbody>
        </table>
        <div class="mdl-card__actions mdl-card--border">
        {{ form1.submit(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", value="修改密码") }}  
        </div>
    </form>
    
</div>

<div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">修改邮箱手机号</h2>
    </div>
    <table>
        <tbody>
            <tr>
                <td style="width: 100px; padding: 3px;">
                    <p>
                        用户名：
                    </p>
                </td>
                <td style="width: 300px;padding: 3px;"> {{ current_user.username }} </td>             
            </tr>
            <tr>
                <td style="width: 100px; padding: 3px;">
                    <p>
                        新邮箱：
                    </p>
                </td>
                <td style="width: 300px;padding: 3px;">
                    <div class="mdl-textfield mdl-js-textfield">
                        {{form2.password(class="mdl-textfield__input")}}
                    </div>                                        
                </td> 
            </tr>
            <tr>
                <td style="width: 120px; padding: 3px;">
                    <p>
                        密码：
                    </p>
                </td>
                <td style="width: 300px;padding: 3px;">
                    <div class="mdl-textfield mdl-js-textfield">
                        {{form2.password(class="mdl-textfield__input")}}
                    </div>
                </td> 
            </tr>            
        </tbody>
    </table>
    <div class="mdl-card__actions mdl-card--border">
    {{ form2.submit(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", value="修改邮箱") }}  
    </div>
    <a>

    </a>
</div>

{% endblock %}